body {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(250,240,230);
    font-family: Georgia, serif;
    color: #333333;
    font-size: 18px;
}

h1 { font-size: 50px; font-weight: normal; line-height: 54px; margin: 0 0 54px; }

p { line-height: 28px; margin: 0 0 28px; }

#more-text { display: none; }

#output-time { font-size: 28px; font-weight: bold; }

select, input { font-family: Georgia, serif; font-size: 18px; }

#input-time { width: 6em; }

a { color: #c73036; text-decoration: underline; }

a:hover { text-decoration: none; }
