# python3 -m pip install -r requirements.txt

numpy <1.21  # librosa requires numba, which requires numpy<1.21 as of numba 0.54
requests
tqdm
yt_dlp

docker
ffmpeg-python
librosa
matplotlib
psycopg2
pyaudio
pydub
scipy
https://github.com/worldveil/dejavu/zipball/master
