@import url('https://fonts.googleapis.com/css?family=Georgia:400,700&display=swap');

:root {
  --red: #c73036;
  --black: #4d4d4d;
  --bg-color: rgb(250,240,230);
  --font-family: Georgia, serif;
  --font-size: 18px;
  --line-height: 28px;
}

body {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--bg-color);
    font-family: var(--font-family);
    color: var(--black);
    font-size: var(--font-size);
    line-height: var(--line-height);
}

h1 { font-size: 45px; font-weight: normal; line-height: 54px; margin: 0 0 54px; }

select { width: 100%; }

#header { margin: 0 0 28px; padding-top: 20px; white-space: nowrap; }

#logo { display: inline-block; vertical-align: middle; margin: 0px; height: 54px; margin-right: 10px; }

#title { display: inline-block; vertical-align: middle; margin: 0px; }

#more-text { display: none; }

#table-select { width: 100%; }

#col-select { width: 100%; }

label.row-label { white-space: nowrap; margin-right: 5px; }

.warning { display: none; font-style: italic; color: var(--red); }

fieldset { border: 1px solid; border-radius: 5px; margin-bottom: 10px; }
legend { padding-left: 10px; padding-right: 10px; font-weight: bold; }

#output-time { font-size: 28px; font-weight: bold; }

select, input { font-family: var(--font-family); font-size: var(--font-size); border: 1px solid; border-radius: 5px; background-color: white; }

#input-time { width: 6em; padding-left: 5px; }

#debug-container { display: none; text-align: center; }
#debug-header { font-weight: bold; margin: auto; }
#debug-date-verified { font-style: italic; margin: auto; }
#debug-table { width: 60%; margin: auto; text-align: center; }

.nowrap { white-space: nowrap; }

button.icon-button {
    font-family: var(--font-family);
    font-size: var(--font-size);
    height: var(--line-height);
    color: white;
    background-color: var(--red);
    border: 1px solid var(--black);
    border-radius: 5px;
    cursor: pointer;
}
button.icon-button.square { width: var(--line-height); padding: 0px; }
button.icon-button:hover { background-color: RoyalBlue; }

#direction-fieldset .fa { margin: 0px 5px 0px 5px; }
#bitrate-fieldset .fa { margin: 0px 2px 0px 2px; }
#pick-time-button {}
#convert-button { display: block; margin: 15px 0px 15px 10px; padding: 15px; height: auto; }
#convert-button .fa { margin-right: 5px; }

a { color: var(--red); text-decoration: underline; }
a:hover { text-decoration: none; }

.picker-body, .picker-footer { max-width: 400px; margin: auto; }
.picker-cell, .picker-cell__header, .picker-cancel, .picker-confirm { font-size: var(--font-size); }
.picker-cell__header, .picker-cancel, .picker-confirm { color: var(--black); font-weight: bold; font-family: var(--font-family); }
.picker-picked { color: var(--red); font-weight: bold; }
.picker-dialog, .picker-cancel:focus, .picker-cancel:hover, .picker-confirm:focus, .picker-confirm:hover { background-color: var(--bg-color); }
.picker-cell::before, .picker-cell::after, .picker-cell__body::before, .picker-cell__body::after { background-image: none; }
.picker-dialog, .picker-header, .picker-footer { border: none; }
.picker-cell__header, .picker-cell, .picker-cell + .picker-cell { border-bottom: 1px solid; border-left: none; }
